<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<roleManager enabled="true" defaultProvider="HelpdeskRoleProvider">
			<providers>
				<add name="HelpdeskRoleProvider" type="HelpDeskTrain.Providers.HelpdeskRoleProvider" />
			</providers>
		</roleManager>
	</system.web>
	<connectionStrings>
		<add name="HelpdeskContext" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(LocalDb)\v11.0;AttachDBFilename=|DataDirectory|\helpdesk.mdf" />
	</connectionStrings>
</configuration>